<div class="container-fluid view" >

  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= image_tag @product.image_url,class: "img-responsive" %>
  </p>
  <p>
     <strong>Colour:</strong>
     <%= @product.colour %>
  </p>
  
  
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  
  <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_zbas1IK5N7gb2FxMHcIc6M5y"
      data-image="/img/documentation/checkout/marketplace.png"
      data-name="Demo Site"
      data-description="2 widgets"
      data-currency="cad"
      data-amount="2000"
      data-locale="auto">
    </script>
  </form>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>


  <%= render partial: "new_comment" %>
  
  <div class="product-reviews">
     <% @comments.each do |comment| %>
          <div class="row">
             <hr>
             <p>
                <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
                <% if signed_in? && current_user.admin? %>
                  <%= link_to ('<i class="fa fa-trash"></i>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
             </p>
             <div class="rated" data-score="<%= comment.rating %>"></div>
             <p><%= comment.body %></p>

          </div>
     
     <% end %>
     <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
 
  </div>
  
 
 
  

</div>
