<div class="container-fluid view" >

  <p id="notice"><%= notice %></p>
       
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p>
          <strong>Image url:</strong>
          <%= image_tag @product.image_url,class: "img-responsive" %>
        </p>
        <p>
           <strong>Colour:</strong>
           <%= @product.colour %>
        </p>
        <p>
           <strong>Price :</strong>
           <%= @product.price  %>
        </p>

        
        <p>
          Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> 
        </p>
        
        <%= link_to 'Edit', edit_product_path(@product) %> 
        <%= link_to 'Back', products_path %>

        <%= render partial: "new_comment" %>

        
    <div class="product-reviews">
       <% @comments.each do |comment| %>
          
        <%= form_tag "/payments/create" do %>
         <%= hidden_field_tag :product_id, @product.id %>
         <%= render partial: "shared/stripe_checkout_button", locals: {product: @product} %>
        <% end %>

          <div class="row">
            <hr>             
              <p>
                <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
                <% if signed_in? && current_user.admin? %>
                <%= link_to ('<i class="fa fa-trash"></i>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </p>
              <div class="rated" data-score="<%= comment.rating %>"></div>
              <p><%= comment.body %></p>
          </div>
       <% end %>
       
       <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
    </div>
</div>
