<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>

  <!--<link href=../stylesheets/bike.css.css rel="stylesheet"> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}"%>'>

   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thato Makinta</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav">
            <li class="<%= action_name=='index' ? 'active' : nil%>"><a href="/static_pages/index">Home</a></li>
            <li class="<%= action_name=='about' ? 'active' : nil %>"><a href="/static_pages/about">About</a></li>
            <li class="<%= action_name=='contact' ? 'active' : nil %>"><a href="/static_pages/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
   </nav>


  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used  bikes in Berlin</h2>

   <%= yield %>

  <footer>
  	<h1>Address</h1>
  	<h2>Street X</h2>
  	<div>
  		  <i class="fa fa-facebook-square fa-2x"></i>
    </div>		
  </footer>

</body>
</html>
